    {{> header/header-block}}

    <div class="container">
        <h2>Carbon Footprint Calculator</h2>
        <hr>
        <br>
        <form id="surveyId">
             <fieldset class="form-group1">
                <div class="row">
                    <legend class="col-form-label col-sm-5 pt-0">Count the members of your household:
                    </legend>
                    <div class="col-sm-7">
                        <div class="form-check">
                            <input class="form-check-input first" type="radio" name="members" value="14">
                            <label class="form-check-label" for="1">
                                Live alone
                            </label>
                        </div>
                         <div class="form-check">
                            <input class="form-check-input first" type="radio" name="members" value="12">
                            <label class="form-check-label" for="2">
                                1 other person
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input first" type="radio" name="members" value="10">
                            <label class="form-check-label" for="3">
                                2 other people
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input first" type="radio" name="members" value="8">
                            <label class="form-check-label" for="4">
                                3 other people
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input first" type="radio" name="members" value="6">
                            <label class="form-check-label" for="5">
                                4 other people
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input first" type="radio" name="members" value="4">
                            <label class="form-check-label" for="6">
                                5 other people
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input first" type="radio" name="members" value="2">
                            <label class="form-check-label" for="7">
                                More than 5 other people
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr>
            <br>
            <fieldset class="form-group2">
                <div class="row">
                    <legend class="col-form-label col-sm-5 pt-0">Consider the size of your home:
                    </legend>
                    <div class="col-sm-7">
                        <div class="form-check">
                            <input class="form-check-input second" type="radio" name="home" value="2">
                            <label class="form-check-label" for="1">
                                Apartment
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input second" type="radio" name="home" value="4">
                            <label class="form-check-label" for="2">
                                Small house/townhouse
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input second" type="radio" name="home" value="7">
                            <label class="form-check-label" for="3">
                                Medium-sized house
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input second" type="radio" name="home" value="10">
                            <label class="form-check-label" for="4">
                                Large house
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr>
            <br>
            <fieldset class="form-group3">
                <div class="row">
                    <legend class="col-form-label col-sm-5 pt-0">Evaluate your food choices:
                    </legend>
                    <div class="col-sm-7">
                        <div class="form-check">
                            <input class="form-check-input third" type="radio" name="food" value="10">
                            <label class="form-check-label" for="1">
                                Eat meat daily
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input third" type="radio" name="food" value="8">
                            <label class="form-check-label" for="2">
                                Eat meat 3 times a week or less
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input third" type="radio" name="food" value="4">
                            <label class="form-check-label" for="3">
                                Vegetarian
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input third" type="radio" name="food" value="2">
                            <label class="form-check-label" for="4">
                                Vegan
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group3">
                    <div class="row">
                        <select id="foodQ" class="custom-select fourth-half">
                            <option selected>Where does your food come from?</option>
                            <option value="12">Most of my food comes prepackaged (frozen meals, cereal, boxed snacks)</option>
                            <option value="6">Balance of fresh and convenience foods</option>
                            <option value="2">Consume mostly fresh, locally grown foods</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <hr>
            <br>
            <fieldset class="form-group4">
                <div class="row">
                    <legend class="col-form-label col-sm-5 pt-0">Examine your water consumption:
                    </legend>
                    <div class="col-sm-7">
                        <h5>How often do you run your dishwasher or washing machine each week?</h5>
                        <div class="form-check">
                            <input class="form-check-input fourth" type="radio" name="water" value="5">
                            <label class="form-check-label" for="1">
                                9 times or more
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input fourth" type="radio" name="water" value="2">
                            <label class="form-check-label" for="2">
                                4 - 9 times
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input fourth" type="radio" name="water" value="1">
                            <label class="form-check-label" for="3">
                                1 - 3 times
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input fourth" type="radio" name="water" value="0">
                            <label class="form-check-label" for="4">
                                0 (I don't have a dishwasher or washing machine)
                            </label>
                        </div>
                    </div>
                </div>
            
                <div class="form-group4 row">
                    <select id="waterQ" class="custom-select fourth-half">
                        <option selected>Do you have both a washing machine and a dishwasher?</option>
                        <option value="2">Yes</option>
                        <option value="1">No</option>
                    </select>
                </div>
            </fieldset>
            <hr>
            <br>
            <fieldset class="form-group5">
                    <div class="row">
                        <legend class="col-form-label col-sm-5 pt-0">Determine how many household purchases (furniture, electronics, household gadgets, etc) you make each year:
                        </legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <input class="form-check-input fifth" type="radio" name="purch" value="10">
                                <label class="form-check-label" for="1">
                                    7 or more new items
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input fifth" type="radio" name="purch" value="8">
                                <label class="form-check-label" for="2">
                                    5 - 7 new items
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input fifth" type="radio" name="purch" value="6">
                                <label class="form-check-label" for="3">
                                    3 - 5 new items
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input fifth" type="radio" name="purch" value="4">
                                <label class="form-check-label" for="4">
                                    Less than 3 new items
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input fifth" type="radio" name="purch" value="2">
                                <label class="form-check-label" for="5">
                                    Almost nothing or secondhand items
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr>
                <br>
                <fieldset class="form-group6">
                    <div class="row">
                        <legend class="col-form-label col-sm-5 pt-0">Consider how much waste you produce:
                        </legend>
                        <div class="col-sm-7">
                            <h5>How many kitchen-size garbage bags do you fill each week?</h5>
                            <div class="form-check">
                                <input class="form-check-input sixth" type="radio" name="waste" value="5">
                                <label class="form-check-label" for="1">
                                    Half a bag or less
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input sixth" type="radio" name="waste" value="20">
                                <label class="form-check-label" for="2">
                                    1 bag
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input sixth" type="radio" name="waste" value="30">
                                <label class="form-check-label" for="3">
                                    2 bags
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input sixth" type="radio" name="waste" value="40">
                                <label class="form-check-label" for="4">
                                    3 bags
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input sixth" type="radio" name="waste" value="55">
                                <label class="form-check-label" for="5">
                                    4 or more bags
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr>
                <br>
                <fieldset class="form-group7">
                    <div class="row">
                        <legend class="col-form-label col-sm-5 pt-0">Identify the types of waste that you recycle:
                        </legend>
                        <div class="col-sm-7" id="recycle">
                            <div class="form-check">
                                <input class="form-check-input seventh" type="checkbox" name="recycle" value="24">
                                <label class="form-check-label" for="1">
                                    I don't recycle
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input seventh" type="checkbox" name="recycle" value="-4">
                                <label class="form-check-label" for="2">
                                    Glass
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input seventh" type="checkbox" name="recycle" value="-4">
                                <label class="form-check-label" for="3">
                                    Plastic
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input seventh" type="checkbox" name="recycle" value="-4">
                                <label class="form-check-label" for="4">
                                    Paper
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input seventh" type="checkbox" name="recycle" value="-4">
                                <label class="form-check-label" for="5">
                                    Aluminum
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input seventh" type="checkbox" name="recycle" value="-4">
                                <label class="form-check-label" for="6">
                                    Steel
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input seventh" type="checkbox" name="recycle" value="-4">
                                <label class="form-check-label" for="7">
                                    Food waste (composting)
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr>
                <br>
                <fieldset class="form-group8">
                    <div class="row">
                        <legend class="col-form-label col-sm-5 pt-0">Tally your annual transportation costs:
                        </legend>
                        <div class="col-sm-7 set1">
                            <h5>What is your personal vehicle usage?</h5>
                            <div class="form-check">
                                <input class="form-check-input eighth" type="radio" name="vehicle" value="12">
                                <label class="form-check-label" for="1">
                                    More than 15,000 miles
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input eighth" type="radio" name="vehicle" value="10">
                                <label class="form-check-label" for="2">
                                    10,000 - 15,000 miles
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input eighth" type="radio" name="vehicle" value="6">
                                <label class="form-check-label" for="3">
                                    1,000 - 10,000 miles
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input eighth" type="radio" name="vehicle" value="4">
                                <label class="form-check-label" for="4">
                                    Less than 1,000 miles
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input eighth" type="radio" name="vehicle" value="0">
                                <label class="form-check-label" for="5">
                                    I don't have a car
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7"></div>
                            <div class="col-sm-5 set2">
                                <h5>What is your public transportation usage?</h5>
                                <div class="form-check">
                                    <input class="form-check-input eighth" type="radio" name="public" value="12">
                                    <label class="form-check-label" for="1">
                                        More than 20,000 miles
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input eighth" type="radio" name="public" value="10">
                                    <label class="form-check-label" for="2">
                                        15,000 - 20,000 miles
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input eighth" type="radio" name="public" value="6">
                                    <label class="form-check-label" for="3">
                                        10,000 - 15,000 miles
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input eighth" type="radio" name="public" value="4">
                                    <label class="form-check-label" for="4">
                                        1,000 - 10,000 miles
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input eighth" type="radio" name="public" value="2">
                                    <label class="form-check-label" for="5">
                                        Less than 1,000 miles
                                    </label>
                                </div>   
                                <div class="form-check">
                                    <input class="form-check-input eighth" type="radio" name="public" value="0">
                                    <label class="form-check-label" for="6">
                                        I don't use public transportation
                                    </label>
                                </div> 
                            </div>
                    <div class="row">
                        <div class="col-sm-7"></div>
                        <div class="col-sm-5 set3">
                            <h5>What is your air travel usage?</h5>
                            <div class="form-check">
                                <input class="form-check-input eighth" type="radio" name="flight" value="6">
                                <label class="form-check-label" for="1">
                                    Travel to nearby states a couple times a year
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input eighth" type="radio" name="flight" value="12">
                                <label class="form-check-label" for="2">
                                    Travel to nearby states more than 4 times a year
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input eighth" type="radio" name="flight" value="20">
                                <label class="form-check-label" for="3">
                                    Travel to other continents during the year
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input eighth" type="radio" name="flight" value="0">
                                <label class="form-check-label" for="4">
                                    I don't use air travel
                                </label>
                            </div>
                        </div>
                    </div>
                    </div>
                </fieldset>            
                <br>
                <br>
            <div class="form-group row">
                <div class="col-sm-10">
                <button id="submitBtn" type="submit" class="btn btn-secondary-lg">Calculate My Footprint</button>
                </div>
            </div>
        </form>
    </div>