<div class="container">
    <form>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Count the members of your household:
                </legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input first" type="radio" name="gridRadios" value="14">
                        <label class="form-check-label" for="1">
                            Live alone
                        </label>
                    </div>
                     <div class="form-check">
                        <input class="form-check-input first" type="radio" name="gridRadios" value="12">
                        <label class="form-check-label" for="2">
                            1 other person
                        </label>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div>