
{{> header/header-block}}

  {{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div> --}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h3 class="title">Your Carbon Footprint Dashboard</h3>
      <p>Once you've completed the carbon footprint calculation survey, your results will show up here. Take the survey again once you've taken steps to lower your carbon footprint to see your current score.</p>
      <a href="footprints"><button class="btn btn-primary btn-lg">Calculate Your Carbon Footprint</button></a>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-8">
        <canvas id="myChart"></canvas>
        <h2>chart goes here....</h2>
    </div>
    <div class="col-sm-4">
      <h2>How Your Footprint Compares</h2>
      <h4><strong>Your Footprint:</strong>{{totalFootprint}}</h4> 
      <p><strong>Average Footprint:</strong>60</p>
    </div>
  </div>
</div>

{{> footer/footer-block}}


