
{{> header/header-block}}

  {{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div> --}}
  {{id}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h3 class="title">Your Carbon Footprint Dashboard</h3>
      <p>Once you've completed the carbon footprint calculation survey, your results will show up here. Take the survey again once you've taken steps to lower your carbon footprint to see your current score.</p>
      <a href="footprints"><button class="btn btn-primary btn-lg">Calculate Your Carbon Footprint</button></a>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row ">
    <div class="col-sm-6 background2">
      <h2>Checklist To Reduce Your Footprint</h2>
      <panel>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="Check1">
          <label class="form-check-label" for="defaultCheck1">
            Default checkbox
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Check2">
            <label class="form-check-label" for="defaultCheck2">
              checkbox
            </label>
          </div>
        </panel>
      </div>
    <div class="col-sm-5 background2">
      <h2>The World's Carbon Footprint (%)</h2>
        <canvas id="myChart" width="100px" height="100px"></canvas>
    </div>
  </div>
</div>

{{> footer/footer-block}}


