<div class="container">
    
        <h1 class="display-4 title">Live Your Green</h1>
            <p class="lead">Sign up or sign in to use our carbon footprint calculator and recycling location services.</p>
            <p class="lead">Let the Live Your Green resources help you to evaluate your current energy use at home and on the go,</p> 
            <p class="lead">and help you find ways to reduce your footprint.</p>
        <hr class="my-4">

        <a class="btn btn-primary btn-lg" id="signup" href="./signup" role="button">Sign Up</a>
        <a class="btn btn-primary btn-lg" id="login" href="./login" role="button">Log in here</a>
   
</div>