<div class="container">
    
        <h1 class="display-4 title">Live Your Green</h1>
        <p class="lead">You can evaluate how green your life is.</p> 
        <p class="lead">Use our carbon footprint calculator or find recycling
            resources.</p>
        <hr class="my-4">

        <a class="btn btn-primary btn-lg" id="signup" href="./signup" role="button">Sign Up</a>
        <a class="btn btn-primary btn-lg" id="login" href="./login" role="button">Login</a>
   
</div>