    {{> header/header-block}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h3 class="title">Find Local Recycling Locations</h3>
        <p class="lead"><strong>Enter your zip code to find businesses that can recycle your waste.</strong></p>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <div class="row">
	  <form id="userInput" class="form-inline">
		<input type="text" class="form-control form-field" id="zipcode" required>
		<button type="submit" class="btn btn-primary btn-lg"> Search Your Zip Code </button>
	</form>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-sm-7">
      <div class="result-container mx-auto"></div>
    </div>
  </div>
</div>


{{> footer/footer-block}}

