    {{> header/header-block}}
<form id="userInput">
		<input type="text" class="form-control form-field" id="zipcode" required>
		<button type="submit"> search </button>
	</form>
	<div class="result-container"></div>


    {{> footer/footer-block}}

