<footer class="footer">
        <div class="container bottom_border">
            <div class="row">
                <div class=" col-sm-8 col-md col-sm-4 col-12 col">
                    <h5 class="headin5_amrc pt2">About Us</h5>
                    <p class="mb10">We are an all-women team of Full Stack Web Developer Bootcamp students working together to help green our planet.</p>

                </div>
        
                <div class=" col-sm-4 col-md col-12 col">
                    <h5 class="headin5 pt2">Learn About Our Team</h5>
                        <ul class="footer_ul">
                            <li><a class="resumeLink" href="http://www.meghansmorris.com">Meghan Morris</a></li>
                            <li><a class="resumeLink" href="https://smanhart.github.io/Portfolio/">Stephanie Manhart</a></li>
                            <li><a class="resumeLink" href="https://github.com/rhaniehalim">Rhanie Halim</a></li>
                        </ul>
                </div>
            </div>

            <div class="row">
                <p class="text-center">Copyright @2019 </a></p>
            </div>   

        </div>
</footer>