body {
    background: url(/images/pexels-photo-305558mobile.jpeg);
    background-attachment: fixed;
    opacity: 80%;
    /* background-size: contain; */
    /* background: blue; */
}

@media only screen and (min-width: 450px) {
    body {
        background: url(/images/pexels-photo-305558sm.jpeg);
        background-attachment: fixed;
        opacity: 80%;

        /* background-size: contain; */
        /* background: blue; */
    }
}

@media only screen and (min-width: 640px) {
    body {
        background: url(/images/pexels-photo-305558md.jpeg);
        background-attachment: fixed;
        opacity: 80%;

        /* background-size: contain; */
        /* background: blue; */
    }
}


@media only screen and (min-width: 1300px) {
    body {
        background: url(/images/pexels-photo-305558lg.jpeg);
        background-attachment: fixed;
        opacity: 80%;

        /* background-size: contain; */
        /* background: blue; */
    }
}

.jumbotron {
    background-color: #6dc030;
}

.title {
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Bad Script', cursive;
    /* font-family: 'Shadows Into Light Two', cursive; */
    font-size: 6rem;
    padding-top: 50px;
    padding-bottom: 20px;
    
}

.modal-title {
    font-family: 'Bad Script', cursive;
}

.modal-content {
    background: #b3cad5;
}

.btn-primary {
    background-color: #376432;
    /* background-color: #446832; */
    /* border-color: #739e5e; */
    border-color: white;
    /* color: black; */
    margin:15px; 
}

.btn-primary:hover {
    border-color: black;
    background-color: #376432;

}

#login {
    padding: 0, 20px;
}

/* Survey styling */
div.background {
    background-color: #ffffff;
    opacity: 0.75;
    filter: alpha(opacity=60); 
    padding: 20px;
}
  
.subtitle {
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Bad Script', cursive;
    /* font-family: 'Shadows Into Light Two', cursive; */
    font-size: 3rem;
    
}

footer { 
    width:100%; 
    background-color: snow; 
    min-height:250px; 
    padding:25px 0px 10px 0px ;
    margin-top: 20px;
}

/* Index Page Styling */
div.background2 {
    background-color: #ffffff;
    opacity: 0.75;
    filter: alpha(opacity=95); 
    border-radius: 25px;
    padding: 35px;
    margin: 30px;
}

div.background3 {
    background-color: #ffffff;
    opacity: 0.85;
    filter: alpha(opacity=80); 
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

#checklist {
    padding: 20px;
}

.ideaslist {
    padding: 10px;
}

div.card {
    padding: 10px;
}
